<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blogs</title>
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
    rel="stylesheet"
  />
</head>
<body>
    {{> nav }}
  <div class="container mt-5">
    <div class="row g-4">
    {{#if blogs}}  
      <h1>MY Blogs</h1>
        {{#each blogs}}

      <div class="col-md-4">
        <div class="card">
          <img
            src="assets/uploads/{{imageurl}}"
            class="card-img-top"
            alt="Mobile App"
          />
          <div class="card-body">
            <h5 class="card-title"><a class="text-decoration-none text-dark" href="/blog-detail/{{id}}">{{title}}</a></h5>
            <p class="card-text">
              {{content}}
            </p>
            <div class="d-flex justify-content-between">
              <a href="/blog-edit/{{id}}" class="btn btn-dark text-decoration-none text-light">Edit</a>
              <a href="/blog-delete/{{id}}" class="btn btn-danger text-decoration-none text-light">
                <button class="btn btn-danger delete-btn" data-id="{{id}}">Delete</button>
              </a>
            </div>

          </div>
      </div>
        </div>
    {{/each}}
      {{/if}}
      <div class="col-md-4">
        <div class="card d-flex justify-content-center align-items-center border-dashed border-2">
          <a href="/blog-form"> 
          <img
            src="assets/icon/plus-icon.png"
            class="card-img-top my-4"
            style="max-width: 100px;"
            alt="Add New Blog"
          />
          <div class="card-body text-center">
            <h5 class="card-title">Add New Blog</h5>
          </div>
          </a>
      </div>
        </div>
    </div>
  </div>
  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/js/blog-delete.js"></script>
</body>
</html>